/*@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Condensed');*/
/*@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Condensed:300i');*/
@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Condensed:300');
@import url('https://fonts.googleapis.com/css?family=Share:400,700');

html, body {
	height: 100%;
	width: 100%;
	margin: 0;
}

#black-overlay {
	background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
}

#hero-vid {
	position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover; 
    filter: grayscale(100%);
}

nav {
	height: 3.5em;
	width: 100%;
	background-color: black;

}



a {
	font-family: 'Fira Sans Condensed', sans-serif;
	text-decoration: none;
	color: white;
	margin-left: 2.5em;
	vertical-align: middle;
}

a#logo {
	font-size: 40px;
	margin: 1em;
}

h1 {
	font-family: 'Share', cursive;
	color: white;
	font-size: 18em;
	display: flex;
	justify-content: center;
}

#padding-delete {
	padding: 0;
}